<h2> My Data Crud Application</h2>
<h2> Add Data</h2>
<form (ngSubmit)="postdata()">
  <div class="form-group">
      <label> Name</label>
      <input type="text" name="name" [(ngModel)]="myData.name" class="form-control"/>
  </div>
  <div class="form-group">
    <label> City</label>
    <input type="text" name="city" [(ngModel)]="myData.city" class="form-control"/>
  </div>
  <input type="submit" value="Add" class="btn btn-success" *ngIf="flag"/>
  <input type="submit" value="Update" class="btn btn-success" *ngIf="!flag"/>
</form>
<br/><hr/>
<div class="row">
    <div class="col-sm-3" *ngFor="let user of userData">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{user.name}}</h5>
              <p class="card-text">{{user.city}}</p>
              <button class="btn btn-primary" (click)="editPro(user._id)"> Edit</button>
              <button class="btn btn-danger" (click)="delPro(user._id)"> Delete</button>
            </div>
          </div>
    </div>
</div>
